<html>
	<head>
		<title>Main Page</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
	</head>
	<body>
		<div class="container">
			<div class="topbar">
				<div class="topbar_container">
					<div class="topbar_tab">
						<button class="topbar_button" onclick="window.location.href = '/profile'">
							<img class="topbar_icon"
								 src="{{ url_for('static', filename='icons/perm_identity_white_24dp.svg') }}"
								 alt = "Личный кабинет">
						</button>
						<p class="topbar_text">Мой аккаунт</p>
					</div>

					<div class="topbar_tab">
						<button class="topbar_button" onclick="window.location.href = '/'">
							<img class="topbar_icon"
								 src="{{ url_for('static', filename='icons/info_white_24dp.svg') }}"
								 alt = "Иформация">
						</button>
						<p class="topbar_text">Информация</p>
					</div>

					<div class="topbar_tab">
						<button class="topbar_button" onclick="window.location.href = '/operations'">
							<img class="topbar_icon"
								 src="{{ url_for('static', filename='icons/payments_white_24dp.svg') }}"
								 alt = "Операции">
						</button>
						<p class="topbar_text">Операции</p>
					</div>

					<div class="topbar_tab">
						<button class="topbar_button" onclick="window.location.href = '/stats'">
							<img class="topbar_icon"
								 src="{{ url_for('static', filename='icons/assessment_white_24dp.svg') }}"
								 alt = "Статистика">
						</button>
						<p class="topbar_text">Статистика</p>
					</div>

					<div class="topbar_tab">
						<button class="topbar_button" onclick="window.location.href = '/categories'">
							<img class="topbar_icon"
								 src="{{ url_for('static', filename='icons/category_white_24dp.svg') }}"
								 alt = "Категории">
						</button>
						<p class="topbar_text">Категории</p>
					</div>

				</div>

			</div>
		</div>

	</body>
</html>